body {
    background-color: lightgrey;
    max-width: max-content;
    text-align: center;
    margin: auto;
}

div {
    font-family: sans-serif;
    padding: 5px;
    font-size: 18pt;
}

div tr {
    margin: auto;
}

div td {
    border: 0px;
    /* background-color: white; */
    padding: 5px;
}

input {
    font-size: 18pt;
    width: 50px;
    height: 50px;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    text-align: center;
}

.check {
    width: 25px;
    height: 25px;
}

button {
    font-size: 18pt;
    height: 50px;
    background-color: darkgrey;
    border: 2px solid darkslategrey;
    border-radius: 5px;
}

ul {
    text-align: left;
    padding-left: 30%;
}

#gen_button {
    width: 250px;
}
#step_button {
    width: 200px;
}
#run_button {
    width: 150px;
}

canvas {
    border: 2px solid darkgrey;
}

#status {
    padding: 20px 20px;

    text-align: center;

    background-color: lightgrey;
    border: 2px solid darkslategrey;

    font-size: 20pt;
}